{% extends 'layout.html' %} 


{%block title%} Dealio | Online shoping deals for online shopping {%endblock%}



{% block content %}

  <section>
    <div class="mb-4">
        <h2 class="fs-5">Top Products</h2>
    </div>
    <div class="row g-5">
    {% for product in products %}
        <div class="col-md-3">
            <a style="display:inline-block; text-decoration:none;" href="{{url_for('products.product', product_id=product.id)}}">
                 <div class="card py-2" style="width: 16rem;">
                    <img src="{{product.image_url}}" class="card-img-top" alt="{{product.name}}">
                    <div class="card-body">
                    <h5 style="hover {text-decoration: underline;}; " class="card-title fs-4 text-primary">{{product.name}}</h5>
                    <p class="card-text d-inline-block">{{product.description}}</p>
                    <div class='d-flex flex-column '>
                        <p  class="text-black d-inline-block my-2 fw-bolder"> {{"Ksh {:,.2f}".format(product.discount_price)}}</p>
                        <p style="text-decoration: line-through;" class="text-primary text-muted d-inline-block fw-bold fs-5"> {{"Ksh {:,.2f}".format(product.price)}}</p>
                    </div>
                </div>
            </div>
            </a>
           
        </div>
    {% endfor %}
    </div>
  </section>



{% endblock %}
